*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box !important;
    font-family: 'Proxima Nova', sans-serif;                                         
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


:root{
    --firstColor: #27c7cd;
    --secondColor: #666666;
    --textColor: #4b4b4b;
}

.section-padding {
    padding: 40px 0px;
}

a#scrollUp {
    height: 40px;
    width: 40px;
    background-color: var(--firstColor);
    position: absolute;
    bottom: 50px;
    right: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
}