

.nav_item_haeder{
    position: relative;
}

.dropdown-menu {
    border-top: 3px solid var(--firstColor);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.dropdown-menu li a{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.dropdown-menu li a:last-child{
    padding-bottom: 10px;
}

.dropdown-menu{
    width: 220px;
    left: 0;
    margin-top: .125rem;
    padding: 20px 30px 20px 20px;
    transition: all linear 0.3s;
    top: 20px;
}

.nav_item_haeder a {
    font-size: 16px;
    color: var(--textColor) !important;
    font-weight: 600;
    text-transform: uppercase;
}


.nav_item_haeder a i{
    display: inline-block;
    margin-left: 2px;
}
.nav_item_haeder > a > span{
    height: 30px;
    width: 30px;
    display: grid;
    place-content: center;
    border: 1px solid var(--firstColor);
    color: var(--firstColor);
    border-radius: 50%;
}

.banner_section{
    position: relative;
}

.banner_slider_buttton {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.banner_slider_buttton ul{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
.banner_slider_buttton ul li{
    height: 7px;
    width: 7px;
    background-color: #FDFDFD;
    border-radius: 50%;
}

.quality_item_image {
    max-width: 185px;
    width: 100%;
}

.quality_item_image img {
    height: 140px;
    object-fit: contain;
}

.quality_item_content.text-center {
    font-size: 16px;
    padding: 0px 20px;
    color: var(--textColor);
}

.about_section_title{
    color: var(--textColor);
    font-weight: 900;
    text-align: center;
}

.about_image{
    width: 100%;
}

.about_section_content {
    margin-top: 50px;
}

.about_content_text {
    font-size: 16px;
    color: grey;
    margin-bottom: 20px;
    text-align: center;
}

.section_title {
    text-align: center;
    margin-bottom: 50px;
}

.section_title_heading{
    color: var(--textColor);
    font-weight: 900;
}

.title_border_image{
    max-width: 310px;
    width: 100%;
    margin: 0px auto;
}

.service_item_image {
    height: 145px;
    margin-bottom: 20px;
}


.service_item_content{
    color: var(--textColor);
    font-size: 16px;
    font-weight: 700;
}

.service_item_content_text{
    color: var(--secondColor);
    text-align: center;
    font-size: 16px;
}

.health_section{
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url(../image/helthbanner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.health_section_content_left {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.health_section_content_left_item {
    display: flex;
    gap: 10px;
    padding: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
}

.helth_left_content_text {
    display: inline-block;
    margin-top: 20px;
}
.helth_left_content_image{}
.helth_left_content_image img{
    max-width: 100%;
}


.helth_content_right{
    padding-top: 20px;
}
.helth_content_right_title{
    text-align: center;
    font-weight: 700;
    color: #FDFDFD;
    margin-bottom: 20px;
}

.helth_content_right_text {
    color: #ffe9e9cc;
    font-size: 16px;
    text-align: center;
}

.helth_content_button{}
.helth_content_button a {
    height: 50px;
    max-width: 220px;
    width: 100%;
    background-color: #8fd400;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    display: grid;
    place-content: center;
    margin: 0px auto;
}

.vedio_section_top{

}

.vedio_section_top_item1 {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    justify-content: center;
}

.vedio_section_top_item_content_title {
    display: inline-block;
    text-align: center;
}

.title_shape_image {
    display: none;
}

.vedio_section_top_item_content_title h4{
    display: inline-block;
    font-weight: 700;
    color: var(--firstColor);
}

.vedio_section_top_item_content_title p{
    color: var(--secondColor);
    font-size: 18px;
}

.vedio_section_top_item_content_title span{
    display: block;
    margin-bottom: 5px;
    color: var(--textColor);
    font-size: 18px;
    font-weight: 700;
}

.vedio_section_top_item {
    text-align: center;
}

.vedio_section_top_item_content_title a{
    display: block;
    font-size: 18px;
    color: var(--firstColor);
}

.video_section_content{
    margin-top: 40px;
}


.video_section_left_image{
    margin-bottom: 20px;
}

.video_section_popup_image{
    position: relative;
}

.popup_button {
    color: #fff;
    position: absolute;
    top: 4%;
    left: 7%;
    height: 50px;
    width: 85px;
    border-radius: 4px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_button:hover{
    color: #fff;
}

.popup_button  i{
    font-size: 16px;
    display: block;
}

.Ceertificet_image_content {
    margin-top: 15px;
}

.row_certificet{
    flex-direction: row-reverse;
}

.certificet_content_text {
    font-size: 16px;
    color: var(--firstColor);
    text-align: center;
}

.certificet_content_title{
    color: rgb(17, 16, 16);
    font-weight: 900;
}

.certificet_content_item{
    margin-bottom: 30px;
}

.contact_banner{
    background-image: url(../image/contactbanner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact_banner_content {
    color: #fffffff0;
    text-transform: uppercase;
    text-align: center;
}

.contact_banner_content_title{
  
}

.contact_banner_content_text {
    font-size: 35px;
}

.contact_section{
    background-color: #ebeff3;
}

.contact_left_title{
    color: var(--textColor);
    text-transform: uppercase;
    text-align: center;
}

.contact_left_content_item {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}
.contact_left_content_item span i{
    display: block;
    color: var(--firstColor);
    font-size: 18px;
}

.contact_left_content_item_text p{
    color: var(--secondColor);
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.contact_map{
    width: 100%;
}

.contact_form_box {
    padding: 40px 20px;
    background-color: #fff;
    max-width: 565px;
    width: 100%;
    margin-left: auto;
    border-radius: 7px;
    margin-top: 0px;
}

.contact_form_box_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.conact_form_item{
    width: 100%;
}

.conact_form_item label,
.conact_form_item_input label{
    font-size: 16px;
    color: #92969f;
    margin-bottom: 10px;

}

.input_control{
    border: none;
    outline: none;
    background-color: #e1e6eb;
    height: 50px;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--textColor);
    display: block;
    z-index: 1;
}

.conact_form_item_input{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.conact_form_item_input_icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #e1e6eb;
    height: 50px;
    width: 50px;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conact_form_item_input_icon span i {
    display: block;
    transform: rotate(90deg);
    font-size: 10px;
    color: var(--textColor);
}

.conact_form_item_checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}
.conact_form_item_checkbox span{
    font-size: 14px;
    color: var(--secondColor);
}

.conact_form_item_textarea{
    width: 100%;
}

.input_control_texaera{
    height: 120px;
}

.conact_form_item_button{
    margin-top: 80px;
}

.conact_form_item_button a{
    display: block;
    background-color: #2aaae1;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    display: grid;
    place-content: center
}

.footer_logo {
    margin-bottom: 30px;
    text-align: center;
}
.footer_logo img{
    max-width: 100%;
}

.footer_item_text{
    color: #f5e3e3;
    font-size: 16px;
}

.footer_social_icon{}
.footer_social_icon ul {
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
.footer_social_icon ul li{}
.footer_social_icon ul li a{
    color: #f5e3e3;
    font-size: 14px;
}
.footer_social_icon ul li a i{
    display: flex;
}

.footer_nav_item {
    text-align: center;
    margin-top: 30px;
}

.nav_item_title {
    text-transform: uppercase;
    color: #efdcdc;
    margin-bottom: 25px;
}


.footer_nav_item ul{
    
}
.footer_nav_item ul li {
    padding: 6px 0px;
}

.footer_nav_item ul li a {
    color: #e6dbdb;
    font-size: 15px;
    display: block;
    font-weight: 400;
}