@media(min-width: 767px){
    .about_section_title{
        text-align: left;
    }
}

@media(min-width: 992px){
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }

    .nav_item_haeder a {
        font-size: 14px;
    }

    
    .section-padding{
        padding: 50px 0px;
    }

}


@media(min-width: 1200px){
    .nav_item_haeder a {
        font-size: 16px;
    }


    .about_image{
        width: 80%;
    }

}

@media(max-width: 991px){
    ul.navbar-nav.ms-auto {
        position: absolute;
        background: white;
        width: 320px;
        padding: 20px;
        left: 0px;
        height: 100vh;
        overflow-y: auto;
        z-index: 1;
    }

}